<% meta title: "marbles.mx | accelerate your personal growth |",
     description: "an app to develop self-awarenss, confidence, and intuition in 30 seconds",
     keywords: %w(stress relief app self-help achieving goals realize potential stress levels improve focus study help suicide yoga internship phone app how to get help hope depression anxiety successful career support therapy) %>
<%= stylesheet_link_tag ('style.css') %>

<header class="main_h" style="overflow: hidden; margin:0px; background:#FFF;">
  <%= render "layouts/application/error_messages" %>
  <div class="container" id="dropdowncontainer">      
	    <div class="col-sm-3 hidden-xs" id="dropdownphoto">
	      <%= link_to image_tag("Orange Logo48.svg"), root_path, { :target => '_top' }  %>
				<span id="logotext" class="links">marblesapp</span>
	    </div>
	    <div class="mobile-toggle">
	      <span></span>
	      <span></span>
	      <span></span>
	    </div>
	      <nav id="navbarrow" class="wc_nav">
		<ul>
		  <li id="aboutlink"><%= link_to "About", about_path,  { :target => '_top' } %></li>
		  <li><%= link_to "Blog", blog_path %>&nbsp;&nbsp;&nbsp;</li>
		  <li id="faqlink"><%= link_to "FAQs", faq_path, { :target => '_top' } %>&nbsp;&nbsp;&nbsp;</li>
		</ul>
	      </nav>
    </div>
</header>
<div class="wrappall">
	<div class="banner">
		<div class="container">
			<div class="row">
				<div class="left_banner">
					<h2>marbles</h2>
					<p>
						accelerate your personal growth with marbles, the easiest app to reflect and focus on what matters most
					</p>

					
					<!--<div id="emailForm" class="banner_form">
						<form id="topfixed" class="form-inline" accept-charset="UTF-8" action="/users" class="new_user" data-remote="true" method="post">
						<input name="utf8" type="hidden" value="✓">
						<div id="email_group" class="form-group" style="margin-bottom: 15px">
						<input id="user-email-fixed" name="user[email]" type="text" class="form-control" placeholder="Email">
						</div>
						<input id="submit-fixed" class="btn btn-large btn-success" name="commit" type="submit" value="Get Early Access" style="margin-bottom: 15px">
						</form>
					</div>-->
					<div class="banner_form">
						<form action="">
							<input type="text" name="" value="" placeholder="enter email address" class="email_form"/>
							<input type="submit" name="" value="download app" class="submit_button_banner"/>
						</form>
					</div>
				</div>
				<div class="right_banner">
					<%= image_tag("home_images/mobile.png", :alt => "Mobile") %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="footer_wrapper">
     <div class="container">
          <div class="row">
               <h2>get the app now!</h2>
               <div class="download-aap" id="wc_download">
                    <a href="https://itunes.apple.com/us/app/marblesapp/id1022281020?mt=8" target="_blank"><%= image_tag("home_images/app1.png", :alt => "Iphone App") %></a>
                    <a href="https://play.google.com/store/apps/details?id=com.RES.marbles" target="_blank"><%= image_tag("home_images/app2.png", :alt => "Android App") %></a>
               </div>
               <p>
                    download on the app stores today
               </p>
               <p>
                    #liveskillfully
               </p>
          </div>
     </div>
</div>
