<section id="thesis" style="overflow: hidden; margin:0px">
		<div id="orbs">
			<div class="container12">
				<div class="row" id="circles">
                    
					<div class="column4 center-icons">
					<span>Discover</span>
                        <div id="light">
                            <%= image_tag "light.png"%>
                        </div>
					</div>
                    
					<div class="column4 center-icons">
					<span>Balance</span>
                        <div id="scale">
                            <%= image_tag "scale.png"%>
                        </div>
					</div>
                    
					<div class="column4 center-icons">
					<span>Lead</span>
                        <div id="tracks">
                            <%= image_tag "tracks.png"%>
                        </div>
					</div>
                    
				</div>
			</div>
		</div>
</section>

<!-- ------------------------------- -->

<section id="section1">
    
    <div>
        <div> <!-- refers to the fact that it takes up 4 colums -->
            <h1 id="section1header">Eliminate the clutter</h1>
        </div>
        <div class="container">

            <div class="row" id="ratingsystemphoto">
                <%= image_tag "chaos.png"%>
            </div>

            <div class="row" id="ratingparagraph">
                        <p>Our simple rating system helps you understand your mental health and make informed decisions to live well. Find things to do in your local community based on what will help you the most. </p>
            </div>
        </div>
    </div>
    
</section>

<!-- ------------------------------- -->
<section id="section2">
		<div class="testimonial" id="testimonial">
				<p class="quote">"I can check-in and understand my daily mental health in seconds, marbles helps give me the confidence to live the way I want!"<small> - Alan</small>
				</p>
        </div>
</section>

<!-- ---------------------------------- -->

<section id="section3" class="container">
        <div id="lead">

          <div id="leadphoto" class="col-md-6 text-centered">
               <%= image_tag "addEvent.png"  %>
          </div>

        
            <div class="col-md-6" id="leadtext"><h1>Share your events on marbles for everyone to see</h1>
              <h3 id="leadbottomtext"><br>Connect with the students who will get the most from your activities <br><br>Record your impact on campus</h3>
            </div>
		</div>
</section>

<!-- ------------------------------------------------ -->
<section id="track" class="container">
    <div id="trackheader" class="row"> 
        <h1><strong>Track Trends</strong></h1>
    </div>
    
    <div id="trackparagraphcontainer" class="col-md-6">
        <div id="trackparagraph" class="text-centered">
            <h2>Customizeable dashboard to see<br> your change in mental health<br><br><br>Know how you and your community<br>are growing and changing<br>all in one place</h2>
        </div>
    </div>
    
        
            <div id="trackphoto" class="col-md-6">
                 <%= image_tag "trackhorizontal.png"%>
            </div>
  
</section>

<!-- ------------------------------------------------ -->

<section id="calltoaction">
    <div class="container">
        <div class="col-md-12 text-center" id="calltoactiontext">
            <h1>marbles.mx<br><br>live aware</h1>
            <form id="bottomfixed" class="form-inline text-center" accept-charset="UTF-8" action="/users" class="new_user" data-remote="true" method="post">
              <input name="utf8" type="hidden" value="✓">
            
              <div id="email_group" class="form-group">
                <input id="user-email-bottom" name="user[email]" type="text" class="form-control" placeholder="Email">
              </div>
            
              <input id="submit-bottom" class="btn btn-large btn-success" name="commit" type="submit" value="Get Early Access">
        </form>
 
        </div>
    </div>
</section>


