<header class="main_h" style="overflow: hidden; margin:0px">
  <%= render "layouts/application/error_messages" %>
  <div class="container" id="dropdowncontainer">      
    <div class="col-sm-3 hidden-xs" id="dropdownphoto">
      <%= link_to image_tag("Orange Logo48.svg"), root_path  %>
			<span id="logotext" class="links">marbles.mx</span>
    </div>
    <div class="mobile-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div id="linksandform">
      <div id="emailForm">
        <form id="topfixed" class="form-inline" accept-charset="UTF-8" action="/users" class="new_user" data-remote="true" method="post">
          <input name="utf8" type="hidden" value="✓">
          <div id="email_group" class="form-group" style="margin-bottom: 15px">
            <input id="user-email-fixed" name="user[email]" type="text" class="form-control" placeholder="Email">
          </div>
          <input id="submit-fixed" class="btn btn-large btn-success" name="commit" type="submit" value="Get Early Access" style="margin-bottom: 15px">
        </form>
      </div>
      <nav id="navbarrow">
        <ul>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Blog", blog_path %>&nbsp;&nbsp;&nbsp;</li>
          <li><%= link_to "FAQs", faq_path %>&nbsp;&nbsp;&nbsp;</li>
        </ul>
      </nav>
    </div>
  </div>
</header>


<section id="homebanner">
    <div class="container">
        <div id="toptext" class="col-md-12 text-center" style="margin-top: 20vh">
            <h1 id="introQuote">live skillfully.<br><br>navigate thoughts, relationships, and experiences with ease<br><br>develop momentary awareness, intuition, and confidence with marbles.mx</h1>
            <form id="bottomfixed" class="form-inline text-center" accept-charset="UTF-8" action="/users" class="new_user" data-remote="true" method="post">
              <input name="utf8" type="hidden" value="✓">
            
              <div id="email_group" class="form-group">
                <input id="user-email-main" name="user[email]" type="text" class="form-control" placeholder="Email">
              </div>
            
              <input id="submit-main" class="btn btn-large btn-success" name="commit" type="submit" value="Get Early Access" >
        </form>
 
        </div>
			<div class="scroll-dwn" id="scroll-dwn">
  			<div class="scroll-dwn-arrow" id="animate"><span id="chevron" class="glyphicon glyphicon-chevron-down"></span></div>
			</div>
    </div>
</section>
<!--Section2------------------------------------------------ -->
<section id="thesis" style="overflow: hidden; margin:0px">
  <div>
    <h1 id="personalGuide">Your personal guide to mental health and wellbeing</h1>
  </div>
  <div id="orbs">
		<div class="container12">
		  <div class="row" id="circles">                    
				<div class="column3 center-icons">
          <div id="balance">
            <%= image_tag "balance.svg"%>
          </div>
          <span>Balance</span>
          <p id="span1">Organize your thoughts, feelings, and emotions to live optimally</p>
					</div>           
					<div class="column3 center-icons">
            <div id="find">
              <%= image_tag "find.svg"%>
            </div>
					  <span>Find</span>
            <p id="span2">Discover things to do in your community based on what will help you the most</p>
					</div>
                    
					<div class="column3 center-icons">
                        <div id="share">
                            <%= image_tag "share.svg"%>
                        </div>
					    <span>Share</span>
                        <p id="span3">
                        
                          
                          Add spontaneity and excitement to your events by sharing them across campus
                          
                          
                        </p>
					</div>
                    
                    <div class="column3 center-icons">
                        <div id="dial">
                            <%= image_tag "track.svg"%>
                        </div>
					    <span>Track</span>
                        <p id="span4">Identify and track how you and your community are growing </p>
					</div>
				</div>
			</div>
		</div>
</section>


<!-- ------------------------------- -->

<section id="section1">
    
     <div class="container">
        <div> <!-- refers to the fact that it takes up 4 colums -->
            <h1 id="section1header" class="text-center">Get Organized</h1>
        </div>
            <div class="col-sm-6 text-center" id="ratingparagraph">
                        <p>Our simple rating system helps you track your mental health and understand how and where to improve so that you can live well. Find things to do in your local community based on what will help you the most in all areas of life.</p>
            </div>
						
						<div id="ratingsystemphoto" class="col-sm-6" >
                <%= image_tag "chaos.png"%>
            </div>
					
        </div>
        </div>
    
</section>

<!-- ------------------------------------------------ -->
<section id="track" class="container">
    <div id="trackheader" class="row" style="margin-bottom:60px"> 
        <h1>Track Trends</h1>
    </div>
    
    <div id="trackparagraphcontainer" class="col-md-6" >
        <div id="trackparagraph" class="text-centered">
            <p>Customizeable dashboard to see<br> your change in mental health<br><br><br>Know how you and your community<br>are growing and changing<br>all in one place</p>
        </div>
    </div>
    
        
            <div id="trackphoto" class="col-md-6">
                 <%= image_tag "trackhorizontal.png"%>
            </div>
  
</section>
<!-- ------------------------------- -->
<section id="section2">
		<div class="testimonial" id="testimonial">
				<p class="quote col-md-8 col-md-offset-2">"I can check-in and see some of let go of some of my worries in seconds, marbles helps me chill out and live the way I want"<small> - Alan</small>
				</p>
        </div>
</section>

<!-- ---------------------------------- -->

<section id="section3" class="container">
        <div id="lead">

          <div id="leadphoto" class="col-md-5 col-md-offset-1 text-centered">
               <%= image_tag "addEvent.png"  %>
          </div>

        
            <div class="col-md-5" id="leadtext"><h1>Share your events on marbles for everyone to see</h1>
              <p id="leadbottomtext"><br>Connect with the students who will get the most from your activities <br><br>Record your impact on campus</p>
            </div>
		</div>
</section>

<!-- ------------------------------------------------ -->

<section id="calltoaction">
    <div class="container">
        <div class="col-md-12 text-center" id="calltoactiontext">
					 <div class="text-center">
						 <%= image_tag "Orange Logo100.svg"%> <br><br>
					</div>
            <h1>be the first<br><br>make every moment count</h1>
            <form id="bottomfixed" class="form-inline text-center" accept-charset="UTF-8" action="/users" class="new_user" data-remote="true" method="post">
              <input name="utf8" type="hidden" value="✓">
            
              <div id="email_group" class="form-group">
                <input id="user-email-bottom" name="user[email]" type="text" class="form-control" placeholder="Email">
              </div>
            
              <input id="submit-bottom" class="btn btn-large btn-success" name="commit" type="submit" value="Get Early Access">
        </form>
 
        </div>
    </div>
</section>


