<header class="main_h" style="overflow: hidden; margin:0px">
  <%= render "layouts/application/error_messages" %>
  <div class="container" id="dropdowncontainer">      
    <div class="col-sm-3 hidden-xs" id="dropdownphoto">
      <%= link_to image_tag("Orange Logo48.svg"), root_path, { :target => '_top' }  %>
			<span id="logotext" class="links">marbles.mx</span>
    </div>
    <div class="mobile-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div id="linksandform">
      <div id="emailForm">
        <form id="topfixed" class="form-inline" accept-charset="UTF-8" action="/users" class="new_user" data-remote="true" method="post">
          <input name="utf8" type="hidden" value="✓">
          <div id="email_group" class="form-group" style="margin-bottom: 15px">
            <input id="user-email-fixed" name="user[email]" type="text" class="form-control" placeholder="Email">
          </div>
          <input id="submit-fixed" class="btn btn-large btn-success" name="commit" type="submit" value="Get Early Access" style="margin-bottom: 15px">
        </form>
      </div>
      <nav id="navbarrow">
        <ul>
          <li id="aboutlink"><%= link_to "About", about_path,  { :target => '_top' } %></li>
          <li><%= link_to "Blog", blog_path %>&nbsp;&nbsp;&nbsp;</li>
          <li id="faqlink"><%= link_to "FAQs", faq_path, { :target => '_top' } %>&nbsp;&nbsp;&nbsp;</li>
        </ul>
      </nav>
    </div>
  </div>
</header>


<section id="homebanner">
    <div class="container">
        <div id="toptext" class="col-md-10 col-md-offset-1 text-center" style="margin-top: 20vh">
            <h1 id="introQuote"><br>realize your potential<br><br>focus on what matters most<br><br>marbles.mx</h1>
            <form id="bottomfixed" class="form-inline text-center" accept-charset="UTF-8" action="/users" class="new_user" data-remote="true" method="post">
              <input name="utf8" type="hidden" value="✓">
            
              <div id="email_group" class="form-group">
                <input id="user-email-main" name="user[email]" type="text" class="form-control" placeholder="Email">
              </div>
            
              <input id="submit-main" class="btn btn-large btn-success" name="commit" type="submit" value="Get Early Access" >
        </form>
 
        </div>
			<div class="col-md-12" id="scroll-dwn">
  			<div class="scroll-dwn-arrow" id="animate"><span id="chevron" class="glyphicon glyphicon-chevron-down"></span></div>
			</div>
    </div>
</section>
<!--Section2------------------------------------------------ -->
<section id="thesis">
	<div class="container">
    <h1 id="personalGuide">the only tool to retrain your brain to worry less and sharpen your mind</h1>
  <div id="orbs" class="row">                  
    <div class="col-md-3 col-sm-6 text-center">
      <div id="balance">
        <%= image_tag "balance.svg"%>
      </div>
      <span>Balance</span>
      <p id="span1">Simply record thoughts, feelings, and emotions on seven important components of life</p>
      </div>           
      <div class="col-md-3 col-sm-6 text-center">
        <div id="find">
          <%= image_tag "find.svg"%>
        </div>
        <span>Focus</span>
        <p id="span2">Direct your mental energy towards self-development, not self-destraction. </p>
      </div>
      <div class="col-md-3 col-sm-6 text-center">
        <div id="dial">
          <%= image_tag "track.svg"%>
        </div>
        <span>Track</span>
        <p id="span4">Identify and track helps and what doesn't, make a lifestyle that builds you up</p>
      </div>
      <div class="col-md-3 col-sm-6 text-center">
        <div id="share" style='margin-top: 3px'>
          <%= image_tag "user.svg" %>
        </div>
        <span>Anonymous</span>
        <p id="span3">All your responses are encrypted and protected, your results are for you!</p>
      </div>
		</div>
	</div>
</section>
<!-- ------------------------------- -->
<section id="section1">
    
     <div class="container">
        <div> <!-- refers to the fact that it takes up 4 colums -->
            <h1 id="section1header" class="text-center">Get Organized</h1>
        </div>
            <div class="col-sm-6 text-center" id="ratingparagraph">
              <p>Our simple rating system helps you tune into the areas of life that actually matter. We help you be real with yourself in a 100% anonymous environment that you can compare over time to determine what helps you in life, and what doesn't.</p>
            </div>
						<div id="ratingsystemphoto" class="col-sm-6" >
              <%= image_tag "chaos.png"%>
            </div>
        	</div>
        </div>
    
</section>

<!-- ------------------------------------------------ -->
<section id="track">
  <div class="container">
  <div id="trackheader"> 
        <h1>Track Trends</h1>
    </div>
    
    <div id="trackparagraphcontainer" class="col-md-6" >
        <div id="trackparagraph" class="text-centered">
            <p>Over time the mind reacts less strongly to negative thoughts, feelings, and experiences because it learns those ideas don't help. However a young mind can often grab onto those ideas. Let go of your limiting beliefs and see how you are growing and improving all in one place. </p>
        </div>
    </div>
    
        
            <div id="trackphoto" class="col-md-6 text-center">
                 <%= image_tag "trackhorizontal.png"%>
            </div>
  
</section>
<!-- ------------------------------- -->
<section id="section2">
		<div class="testimonial" id="testimonial">
				<p class="quote col-md-8 col-md-offset-2">"I can check-in and see some of let go of some of my worries in seconds, marbles helps me relax and live the way I want"<small> - Alan</small>
				</p>
        </div>
  </div>
</section>

<!-- ---------------------------------- -->

<section id="section3" class="container">
	<div id="lead">        
    <div id="leadtext" class="col-md-8 col-md-offset-2 text-center" ><h1><a href="http://www.wjh.harvard.edu/~dtg/KILLINGSWORTH%20&%20GILBERT%20%282010%29.pdf">Harvard Study</a> "A Wandering Mind is an Unhappy Mind" says it all...marbles.mx can help you focus your mental energy on what matters most and make the decisions you've always wanted.</h1>
      <h1 id="leadbottomtext"><br>"Go confidently in the direction of your dreams.  Live the life you have imagined." – Henry David Thoreau</h1><br><br>
    </div>
	</div>
</section>

<!-- ------------------------------------------------ -->

<section id="calltoaction">
    <div class="container">
        <div class="col-md-12 text-center" id="calltoactiontext">
					 <div class="text-center">
						 <%= image_tag "Orange Logo100.svg"%> <br><br>
					</div>
            <h1 class="col-sm-8 col-sm-offset-2">sign up now to be invited to our exclusive beta launch<br></h1>
            <form id="bottomfixed" class="form-inline text-center" accept-charset="UTF-8" action="/users" class="new_user" data-remote="true" method="post">
              <input name="utf8" type="hidden" value="✓">
            
              <div id="email_group" class="form-group">
                <input id="user-email-bottom" name="user[email]" type="text" class="form-control" placeholder="Email">
              </div>
            
              <input id="submit-bottom" class="btn btn-large btn-success" name="commit" type="submit" value="Get Early Access">
        </form>
 
        </div>
    </div>
</section>


