<header class="main_h" style="overflow: hidden; margin:0px">
  <%= render "layouts/application/error_messages" %>
  <div class="container" id="dropdowncontainer">      
    <div class="col-sm-3 hidden-xs" id="dropdownphoto">
      <%= link_to image_tag("Orange Logo48.svg"), root_path, { :target => '_top' }  %>
			<span id="logotext" class="links">marbles.mx</span>
    </div>
    <div class="mobile-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div id="linksandform">
      
      <div id="emailForm">
        <form id="topfixed" class="form-inline" accept-charset="UTF-8" action="/users" class="new_user" data-remote="true" method="post">
          <input name="utf8" type="hidden" value="✓">
          <div id="email_group" class="form-group" style="margin-bottom: 15px">
            <input id="user-email-fixed" name="user[email]" type="text" class="form-control" placeholder="Email">
          </div>
          <input id="submit-fixed" class="btn btn-large btn-success" name="commit" type="submit" value="Get Early Access" style="margin-bottom: 15px">
        </form>
      </div>
      <nav id="navbarrow">
        <ul>
          <li><%= link_to "About", about_path, { :target => '_top' } %>&nbsp;&nbsp;&nbsp;</li>
          <li><%= link_to "Blog", blog_path %>&nbsp;&nbsp;&nbsp;</li>
          <li><%= link_to "FAQs", faq_path, { :target => '_top' } %>&nbsp;&nbsp;&nbsp;</li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<!--about Banner------------------------------------------------ -->
<section id="aboutBanner">
  <div class="container">
    <div class="col-md-12 text-center" id="aboutHeader">
      <h1>Our mission is to help students realize their full potential</h1>
    </div>
  </div>
</section>

<!--core Values------------------------------------------------ -->
<section id="whoarewe">
  <div class="container" style="margin-top: 30px">
			<h1>What are we?</h1><br><br>
			<p>REPtech designs and builds web and mobile apps to develop awareness and mindfulness. We gather self-reported user perceptions on 7 components of life and connect users to customized traditional and alternative healthcare and lifestyle services that reflect user inputs on a daily basis. The goal is to help users develop and practice more beneficial mental and emotional habits.</p>
		</div>
</section> 
		
<section id="ourValues">		
		<div id="values" class="container">
      <h1 id="ourValuesHeader">We Value</h1>
        <div class="sectionRow">
          <div id="eye" class="text-center">
            <%= image_tag "eye.svg"%>
						<h3  style="margin-bottom: 20px">Awareness</h3>
          </div>
        </div>
        <p class="col-md-12  text-center">
  We often spend most of our day on autopilot. Doing daily chores, eating, cleaning, bathing, walking to class or on the bus… all these things require very little mental energy. However, these are also really great opportunities to learn more about the world around us and ourselves. If we spend our time buried in technology or our revolving thoughts, we can miss opportunities to try new things and grow. Developing momentary awareness is crucial in our company’s journey to start doing what we love and sharing the knowledge. Simply developing momentary awareness of what we are thinking, doing, and experiencing can help us notice some of the small joys that often go over looked in our busy lives. Take a moment, expand your awareness, and be joyful.
        </p>
    		<div class="sectionRow">
        	<div id="aboutScales"  class="col-xs-12 text-center" style="margin-top:50px">
          	<%= image_tag "balance.svg"%>
						<h3 style="margin-bottom: 20px">Balance</h3>
        	</div>
      	</div>
      	<p class="col-md-12 text-center">
Nothing is perfect; no action, person, or idea…everything has room to grow and expand. Developing balance in our daily lives is paramount to living healthy as well. Whether it’s going to the gym, taking strides towards a career, or mending a relationship, it can be challenging to decide which is more important. marbles is designed to help take some of the pressure off. By checking in every day, you can literally see when you are out of balance! We also offer the best ways to get back to where you want to be: living well.
      </p>
      <div class="sectionRow">
        <div id="enlightened"  class="col-xs-12 text-center" style="margin-top:50px">
          <%= image_tag "enlightened.svg"%>
					<h3 style="margin-bottom: 20px">Self-Actualization</h3>
        </div>
      </div>
      <p class="col-md-12 text-center">
Every person on this planet is capable of so much. We at REPtech honestly believe that anyone can reach their full potential if they put their mind to it. It takes practice; nothing works on the first try. mables is our first try at creating a tool to help people stay on track in all aspects of live and realize goals. Life is so much more about work, social life, or relationships; to develop a positive and holistic life experience, one must spend energy on all components. marbles will help you get to where you want to go. We promise: after using marbles for one week, you will see and feel its value.
      </p>
    </div>
  </div>
</section>


<!--Our Story------------------------------------------------ -->

<section id="ourStory">
	<h1 id="ourStoryHeader">Our Stories</h1>
    <div class="container">
			<div id="profiles" class="row">
				<div id="adam" class="col-md-4">
					<div class="pictureContainer">
						<div class="profilePic" id="adam">
							<%= image_tag "adamCircleSmall.png"%>
						</div>
					</div>
					<div class="bioText">
						<span class="bioName">Adam Moen</span>
						<p class="bioParagraph">"I am exited to work with marbles because I am passionate about helping people and making better ways to live, especially since I have personal experiences with mental health struggles. We are truly changing the way young people manage mental health and wellbeing using web and mobile apps and I'm grateful to be a part of this team and meaningful cause."</p>
					</div>
				</div>
				<div id="audrey" class="col-md-4">
					<div class="pictureContainer">
						<div class="profilePic" id="adam">
							<%= image_tag "audreyCircleSmall.png"%>
						</div>
					</div>
					<div class="bioText">
						<span class="bioName">Audrey Blankenheim</span>
						<p class="bioParagraph">"I am so glad to be on marbles' team to encourage students to take charge of their college experience. As a recent graduate, I know college can be overwhelming with all of the choices. I am honored to be a part of the mission that empowers students to make these decisions with confidence and self-awareness.
	"</p>
					</div>
				</div>
				<div id="alan" class="col-md-4">
					<div class="pictureContainer">
						<div class="profilePic" id="adam">
							<%= image_tag "alanCircleSmall.png"%>
						</div>
					</div>
					<div class="bioText">
						<span class="bioName">Alan Gi</span>
						<p class="bioParagraph">"While working with marbles, I was able to exercise my creative skills, along with my web designing and marketing abilities. The mission has always been about self empowerment, awareness, and helping people to reach their full potential. It's a blast doing something I like and working working with these fantastic individuals!"</p>
					</div>
				</div>
			</div
			<div class="row">
				<div id="donovan" class="col-md-4">
					<div class="pictureContainer">
						<div class="profilePic" id="adam">
							<%= image_tag "donovanCircleSmall.png"%>
						</div>
					</div>
					<div class="bioText">
						<span class="bioName">Donovan Mikrot</span>
						<p class="bioParagraph">"marbles is more than just a good idea and service. We are really changing the way people think about wellbeing and health to be more inclusive and accepting. Our new approach to mental health inspires me to do good work and be a part of a terrific team."</p>
					</div>
				</div>
			<div id="linus" class="col-md-4">
				<div class="pictureContainer">
					<div class="profilePic" id="adam">
						<%= image_tag "linusCircleSmall.png"%>
					</div>
				</div>
				<div class="bioText">
					<span class="bioName">Linus Chan</span>
					<p class="bioParagraph">"Hey! Chances are if you've sent an email, checkout out our facebook page or ran into some dude talking about marbles, you've most likely met me. marbles is pretty fantastic and I really hope that you give it as shot.  I promise to do my best to answer any and all of your questions! 
"</p>
				</div>
			</div>
			<div id="sandrato" class="col-md-4">
				<div class="pictureContainer">
					<div class="profilePic" id="adam">
						<%= image_tag "sandratoCircleSmall.png"%>
					</div>
				</div>
				<div class="bioText">
					<span class="bioName">Sandrato Adriamsay</span>
					<p class="bioParagraph">"College is the time when people take on more responsibilities and plan their future. I would have enjoyed an app like marbles to help me better balance my life and live a more healthy life. I'm very thankful to be part of this opportunity, and I hope that  we'll make a positive impact on people's lives."
</p>
				</div>
			</div>
			</div>
  </div>
</section>

<!---- Mission Quote ------------------ -->
<section id="missionQuoteSection">
  <div id="missionQuote" class="container">
    <h1>"We are really doing something different...school, work, parents, mentors...rarely has anything ever taught you how to live well from moment to moment. We are helping you develop an enriching relationship with yourself and others so you can truly feel and live skillfully." - Founder, Adam Moen</h1>
  </div>
</section>
