<header class="main_h" style="overflow: hidden; margin:0px">
  <%= render "layouts/application/error_messages" %>
  <div class="container" id="dropdowncontainer">      
    <div class="col-sm-3 hidden-xs" id="dropdownphoto">
      <%= link_to image_tag("Orange Logo48.svg"), root_path  %>
			<span id="logotext" class="links">marbles.mx</span>
    </div>
    <div class="mobile-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div id="linksandform">
      
      <div id="emailForm">
        <form id="topfixed" class="form-inline" accept-charset="UTF-8" action="/users" class="new_user" data-remote="true" method="post">
          <input name="utf8" type="hidden" value="✓">
          <div id="email_group" class="form-group" style="margin-bottom: 15px">
            <input id="user-email-fixed" name="user[email]" type="text" class="form-control" placeholder="Email">
          </div>
          <input id="submit-fixed" class="btn btn-large btn-success" name="commit" type="submit" value="Get Early Access" style="margin-bottom: 15px">
        </form>
      </div>
      <nav id="navbarrow">
        <ul>
          <li><%= link_to "About", about_path %>&nbsp;&nbsp;&nbsp;</li>
          <li><%= link_to "Blog", blog_path %>&nbsp;&nbsp;&nbsp;</li>
          <li><%= link_to "FAQs", faq_path %>&nbsp;&nbsp;&nbsp;</li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<!--core Values------------------------------------------------ -->
<section id="faqs">
  <div class="container">
    <div class="sectionContainer">
      <div> 
        <h1 id="ourValuesHeader" style="margin-top:200px">FAQS</h1>
      </div>
			<h1 id="faqtext" class="col-md-11 col-md-11 col-sm-10 col-xs-9">
				<div class="faq-question"><i>What is Marbles?</i>
				</div><br>
				<div class="faq-answer">Marbles is a web app that helps you live a more balanced and meaningful life.
				</div><br><br>
				<div class="faq-question"><i>How does Marbles work?</i>
				</div><br>
				<div class="faq-answer">Marbles is an all inclusive app where you can find our rating system that will help you understand your current mental health, find things to do in your community based on what will help you most, and track your progress. 
				</div><br><br>
				<div class="faq-question"><i>Why should I use Marbles?</i>
				</div><br>
				<div class="faq-answer">We know how hard and stressful life can be, and we can't always ensure that we get the most of our time and lives. We thought that since we already use our computers and phones for work and entertainment, why not use them to improve our own lives?
				</div><br><br>
				<div class="faq-question"><i>How much does marbles cost?</i>
				</div><br>
				<div class="faq-answer">We care for our community, and here at Marbles, we believe that money should not get on the way of people's mental health. Therefore, Marbles will be free of use for all users.
				</div><br><br>
			</div>
	</div>
</section>
            