<footer>
  <div class="container">
    <div id="footerrow" class="row">
      <div class="col-sm-5 col-xs-12">
        <a href="https://www.facebook.com/pages/marblesmx/563236917102261">
          <%= image_tag "circle_pack/SVG Sociable Orange/fb(orange).svg", height: 28 %>
        </a>&nbsp;
        <a href="https://twitter.com/marbles_mx">
          <%= image_tag "circle_pack/SVG Sociable Orange/twitter(orange).svg", height: 28 %>
        </a>&nbsp;
        <a href="https://plus.google.com/110497402587675887674" rel="publisher">
          <%= image_tag "circle_pack/SVG Sociable Orange/google+(orange).svg", height: 28 %>
        </a>&nbsp;
        <a href="https://www.linkedin.com/company/3610844">
          <%= image_tag "circle_pack/SVG Sociable Orange/linkedin(orange).svg", height: 28 %>
        </a>&nbsp;
				<a><%= link_to image_tag("circle_pack/SVG Sociable Orange/tumblr(orange).svg"), blog_path, height: 28 %>
				</a>
      </div>
      <div id="hire" class="col-sm-7 text-right hidden-xs">
        <h5>Made in MPLS by people just like you and...we're hiring! Email us at marbles@reptech.io</a>!</h5>
      </div>
    </div>
  </div>
</footer>

