

<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="marbles.mx landing page">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>marbles.mx | get in the mix</title>
  <%= stylesheet_link_tag "custom", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>
	
	
  <div id="container" class="<%= params[:controller] %>">
    <%= render "layouts/application/header" %>
  

      <%= yield %>

<%= render "layouts/application/footer" %>
  </div>
  <%= javascript_include_tag "custom", "data-turbolinks-track" => true %>

</body>
</html>

