<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="marbles.mx landing page">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>marbles.mx | get in the mix</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= favicon_link_tag "icon.ico" %>
  <%= csrf_meta_tags %>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700' rel='stylesheet' type='text/css'>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--these lines above are apparently -->
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700' rel='stylesheet' type='text/css'> <!--links font-->

		<script src="js/jquery.js"></script> <!--linking jquery file-->
		<script src="js/script.js"></script> <!--linking script file-->

		<link rel="stylesheet" href="css/1140.css"> <!--linking stylesheet.  1140.css is the file we downloaded... Will have to do more research on this later-->
		<link rel="stylesheet" href="css/style.css"> <!--linking style.css which we'll have to write on our own. -->
    
</head>
    
<body>
  <div id="page" class="<%= params[:controller] %>">
    <%= render "layouts/application/header" %>
    <div id="content">
      <%= yield %>
    </div>
    <%= render "layouts/application/footer" %>
  </div>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= render "layouts/application/google_analytics" %>
</body>
</html>
